<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Adrià Pagès Torruella CV">
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&family=STIX+Two+Math&display=swap" rel="stylesheet">

        <title>Adrià Pagès Torruella</title>
    </head>
    <body>
        
        <div class="menu-div">
            <a class="display-nav-icon js--nav-icon"><ion-icon name="menu" class="naviicon"></ion-icon></a>
        </div>
        <div class="sidebar js--sidebar" id="id-sidebar" style="visibility: hidden; opacity: 0;">
            <a class="display-nav-icon cross"><ion-icon name="close"></ion-icon></a>
            <img src="/resources/img/FOTO ADRIA 001.jpg" alt="Face Photo" class="face-photo">
            <div class="contact-box">
                <h2>Contact</h2>
                <div class="row">
                    <div class="contact-info">
                        <ion-icon name="mail-outline" class="icon-small" size='large'></ion-icon>
                        adria.pagest@gmail.com
                    </div>
                </div>
                <div class="row">
                    <div class="contact-info">
                        <ion-icon name="call-outline" class="icon-small" size='large'></ion-icon>
                        +34 665 823 857
                    </div>
                </div>
                <div class="row">
                    <div class="contact-info">
                        <ion-icon name="logo-linkedin" class="icon-small" size='large'></ion-icon>
                        <a href="https://www.linkedin.com/in/adria-pages-torruella/" target="_blank">Adrià Pagès Torruella </a>
                    </div>
                </div>
            </div>
            <div class="personal-data-box">
                <h2>Personal Details</h2>
                <div class="row">
                    <div class="contact-info">
                        <h3 class="nationality">Nationality</h3>
                        Spanish
                    </div>
                </div>
                <div class="row">
                    <div class="contact-info">
                        <h3 class="birth">Date of Birth</h3>
                        26/01/2000
                    </div>
                </div>
                <div class="row">
                    <div class="contact-info">
                        <h3 class="residence">Residence</h3>
                        El Masnou, Barcelona 
                    </div>
                </div>
            </div>
            <div class="languages-box">
                <h2>Languages</h2>
                <div class="row">
                    <h3 class="nationality">Catalan</h3>
                    <div class="language-info">
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small"size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>  
                        <div class="language-text">Native</div>                    
                    </div>
                    
                </div>
                <div class="row">
                    <h3 class="nationality">Spanish</h3>
                    <div class="language-info">
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>   
                        <div class="language-text">Native</div>                    
                    </div>
                </div>
                
                <div class="row">
                    <h3 class="nationality">English</h3>
                    <div class="language-info">
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse" class="icon-small" size='large'></ion-icon>
                        <ion-icon name="ellipse-outline" class="icon-small" size='large'></ion-icon>
                        <div class="language-text">(C1) CAE</div>                        
                    </div>
                </div>
            </div>
        </div>
    
        <section class="front-page content">
                <h1 class="title">Hi, I'm Adrià</h1>
        </section>
        
        <section class=" about-me content">
            <h1 class="about-me-title">About me...</h1>
            <div class="myself">
                <p class="about-me-text">My name is Adrià Pagès Torruella. Currently I'm studying my fourth and last year at the UPC Computer Science degree. I'm specialized in IT technologies and my main interests are cybersecurity/ethical hacking and systems management.<br>
                    However, I love learning new things and I'm interested in anything related to Computer Science like web or software development.</p>
                <p class="about-me-text par2">The activity that I enjoy the most is eating and trying new food, that's why I also love cooking and learning how to do my favourite meals, so I can enjoy them whenever I want.<br> If you love one thing, learn how to do it !</p>
                <a class="btn btn-ghost js--btn" href="#id-sidebar">More details</a>
            </div>
        </section>

        <section class="content studies">
            <h1 class="studies-title">My Formation...</h1>
            <div class="timelines">
                <div class="item leftbox">
                    <h4 class="studies-subtitle">Main studies</h4>
                    <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            PRIMARY STUDIES<br> 2003-2016
                        </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            BACHELOR'S DEGREE <br> 2016-2018
                        </div>
                        <div class="where">JESUÏTES CASP. SAGRAT COR DE JESÚS</div>
                        <div class="item-title"> I studied the Scientific BATX with an average grade of 8,96. I had a 12,21 out of 14 in my PAU 
                            exam.</div>
                
                        </li>
                
                        <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            COMPUTER SCIENCE<br> SINCE 2018
                        </div>
                        <div class="where">FACULTAT D’INFORMÀTICA DE BCN - UPC</div>
                        <div class="item-title">I’m currently in my third year of the Computer Science university degree in UPC. Specialized in 
                            Information and Communications Technology (ICT).</div>
                        </li>
                
                    </ul>
                
                    </div>
                </div>
                <div class="item rightbox">
                    <h4 class="studies-subtitle">Studies abroad</h4>
                    <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            OHIO, USA<br> SEPTEMBER 2017
                        </div>
                        <div class="where">WALSH JESUIT HIGH SCHOOL</div>
                        <div class="item-title">1 month exchange organized by my High School</div>
                
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            STOCKHOLM, SWEDEN<br> AUGUST 2021 - JANUARY 2022
                        </div>
                        <div class="where">KTH ROYAL INSTITUTE OF TECHNOLOGY</div>
                        <div class="item-title">I studied one semester there thanks to the Erasmus+ Program</div>
                
                        </li>
                
                    </ul>
                
                    </div>
                </div>
            </div>
        </section>
                <!--
        <section class="professional-experience">
            <h1 class="experience-title">Professional experience...</h1>
            <div class="experience">
                <div class="item">
                    <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                PRIVATE TEACHER <br> SINCE 2016
                            </div>
                            <div class="item-title"> I support young students (10-14 years old) to do their homework and pass exams.</div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp"> 
                            MEMBER OF TELECOGRESCA<br> SINCE 2018
                        </div>
                        <div class="item-title"> <a href="https://www.telecogresca.com/associacio" target="_blank">TELECOGRESCA</a> is an academic cultural non-profit association that organizes one of the biggest 
                            university music festivals with +10.000 attendees and +300 volunteers. I’m in the marketing section where 
                            we organize the advertising campaigns and I’m also in the scenario section, where we hire 
                            companies to build the stage</div>
                        </li>
                    </ul>
                
                    </div>
                </div>
            </div>
            <p class="crying"><i>I've been focused on finishing my studies as soon as possible so I do not have any professional experience related with my studies. However, I am so motivatied and I would love to start working and learning new things</i> 😊 </p>
            <a class="btn btn-ghost js--btn2" href="#id-sidebar">Contact me!</a>

        </section>
        <section class="skills-section">
            <h1 class="skills-title">My Skills...</h1>
            <div class="skills">
                <div class="item personal-skills">
                    <ion-icon name="person" class="per-icon"></ion-icon>
                    <div class="icon-subtitle">Personal</div>
                    <ul class="flex-container" id="list">
                        <li class="flex-item"><a href="#list">Hard Working</a></li>
                        <li class="flex-item"><a href="#list">Communicative</a></li>
                        <li class="flex-item"><a href="#list">Ambitious</a></li>
                        <li class="flex-item"><a href="#list">Quick learner</a></li>
                        <li class="flex-item"><a href="#list">Friendly and honest</a></li>
                        <li class="flex-item"><a href="#list">Bold</a></li>
                        <li class="flex-item"><a href="#list">Self Organized</a></li>
                        <li class="flex-item"><a href="#list">Versatile</a></li>
                        <li class="flex-item"><a href="#list">Good at team-working</a></li>
                    </ul>

                </div>
                <div class="item professional-skills">
                    <ion-icon name="ribbon"class="prof-icon"></ion-icon>
                    <div class="icon-subtitle2">Professional</div>
                    <div class="subsubtitle">OS</div>
                    <ul class="flex-container">
                        <li class="flex-item"><a href="#list">Ubuntu</a></li>
                        <li class="flex-item"><a href="#list">Arch</a></li>
                        <li class="flex-item"><a href="#list">Kali</a></li>
                        <li class="flex-item"><a href="#list">MacOS</a></li>
                        <li class="flex-item"><a href="#list">Windows</a></li>

                    </ul>
                    <div class="subsubtitle">Programming Languages</div>
                    <div class="subsubsubtitle">Mainly used</div>
                    <ul class="flex-container">
                        <li class="flex-item"><a href="#list">C++</a></li>
                        <li class="flex-item"><a href="#list">C</a></li>
                        <li class="flex-item"><a href="#list">Java</a></li>
                        <li class="flex-item"><a href="#list">x86</a></li>
                        <li class="flex-item"><a href="#list">HTML & CSS <div class="coment">(this website)</div></a></li>
                    </ul>
                    <div class="subsubsubtitle">Also used</div>
                    <ul class="flex-container">
                        <li class="flex-item"><a href="#list">JavaFx</a></li>
                        <li class="flex-item"><a href="#list">JavaScript</a></li>
                        <li class="flex-item"><a href="#list">SQL</a></li>
                        <li class="flex-item"><a href="#list">ERLANG</a></li>
                        <li class="flex-item"><a href="#list">Bash</a></li>
                    </ul>
                </div>
            </div>
        </section>
        -->
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            $(document).ready(function(){

            const btn = document.querySelector('.js--nav-icon');
            const menu = document.querySelector('.js--sidebar');
            const cross = document.querySelector('.cross');
            var media = window.matchMedia("(max-width: 600px)");
            const details = document.querySelector('.js--btn');
             /*
            const contact = document.querySelector('.js--btn2');
            */
            btn.addEventListener('click', e =>{
                if(!media.matches){
                    menu.style.visibility = 'visible';
                    menu.style.opacity = '1';
                    btn.style.visibility = 'hidden';
                    btn.style.opacity = '0';
                    $( ".content" ).css( "margin", "0 0 0 var(--sidebar-margin)" );
                }
                else{
                    menu.style.visibility = 'visible';
                    menu.style.opacity = '1';
                    btn.style.visibility = 'hidden';
                    btn.style.opacity = '0';
                    $( ".content" ).css( "margin", "0 0 0 var(--sidebar-margin)" );
                    $( ".content" ).css( "display", "none" );
                }
            
            });
            
            details.addEventListener('click', e =>{
                 if(!media.matches){
                    menu.style.visibility = 'visible';
                    menu.style.opacity = '1';
                    btn.style.visibility = 'hidden';
                    btn.style.opacity = '0';
                    $( ".content" ).css( "margin", "0 0 0 var(--sidebar-margin)" );
                }
                else{
                    menu.style.visibility = 'visible';
                    menu.style.opacity = '1';
                    btn.style.visibility = 'hidden';
                    btn.style.opacity = '0';
                    $( ".content" ).css( "margin", "0 0 0 var(--sidebar-margin)" );
                    $( ".content" ).css( "display", "none" );
                }
            
            });
            /*
            contact.addEventListener('click', e =>{
                menu.style.visibility = 'visible';
                menu.style.opacity = '1';
                btn.style.visibility = 'hidden';
                btn.style.opacity = '0';
                $( ".content" ).css( "margin", "0 0 0 15%" );
            
            });
            */
            cross.addEventListener('click', e =>{
                if(!media.matches){
                    menu.style.visibility = 'hidden';
                    menu.style.opacity = '0';
                    btn.style.visibility = 'visible';
                    btn.style.opacity = '1';
                    $( ".content" ).css( "margin", "0 0" );
                }
                else{
                    menu.style.visibility = 'hidden';
                    menu.style.opacity = '0';
                    btn.style.visibility = 'visible';
                    btn.style.opacity = '1';
                    $( ".content" ).css( "margin", "0 0" );
                    $( ".content" ).css( "display", "block" );
                }
            });
        });
        </script>
    </body>






</html>